.sidebar {
    display: flex;
   text-align: center;
   position: relative;
   right:200px;
  }

  .sidebar a {
    text-decoration: none;
    color:#030303 !important;
    display: block;
    transition: color 0.3s;
    margin: 15px;
    
  }
  
  .sidebar a:hover {
    color: #01b3bd !important;;
  }

  .sidebar .active-link {
    color: #01b3bd !important;
    
  }


  .review {
    display: flex;
   text-align: center;
   position: relative;
   right:400px;
  }

  .review a {
    text-decoration: none;
    color:#030303 !important;
    display: block;
    transition: color 0.3s;
    margin: 15px;
    
  }
  
  .review a:hover {
    color: #01b3bd !important;;
  }

  .review .active-link {
    color: #01b3bd !important;
   
  }



  
  .logout button {
    background-color: #e9edee00;
    color: #0c0c0c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: large;
    margin: 0%;
    padding: 0%;
    margin-bottom: 0%;
    float: inline-end;
  }
  
  .logout button:hover {
    color: red;
    background-color:rgba(255, 255, 255, 0) ;
  }

  .logout {
    margin-left: 15px;
  }